body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
  background-color:rgb(36, 20, 43);
  color:white;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table,
td {
    border: 1px solid rgb(0, 0, 0);
    margin: 5px;
    border-collapse: collapse;
    background-color: white;
}


td {
    width: 60px;
    height: 60px;
    text-align: center;
}

tr:nth-child(3),
tr:nth-child(6) {
    border-bottom: 5px solid black;
}

td:nth-child(3),
td:nth-child(6) {
    border-right: 5px solid black;
}

table {
    border: 5px solid black;
}

#btn {
    height: 30px;
    width: 100px;
    font-size: 18px;
}

input {
    width: 40px;
    height: 40px;
    border: none;
    font-size: 35px;
    text-align: center;
}

input:active,
input:focus {
    outline: none;
}

#message {
    display:none;
    position:absolute;
    padding:50px 100px;
    background-color:rgb(70, 8, 70);
    color:white;
    border : 10px solid rgb(194, 194, 22);
}